@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased text-slate-900 bg-ios-bg;
  }
}

/* iOS Safe Area Support */
.safe-area-bottom {
  padding-bottom: env(safe-area-inset-bottom);
}
.pb-safe {
  padding-bottom: env(safe-area-inset-bottom);
}
